In [ ]:
!git clone https://github.com/PhonePe/pulse.git

Cloning into 'pulse'...
remote: Enumerating objects: 8891, done.
remote: Counting objects: 100% (8891/8891), done.
remote: Compressing objects: 100% (7400/7400), done.
remote: Total 8891 (delta 2789), reused 7257 (delta 1170), pack-reused 0
Receiving objects: 100% (8891/8891), 2.30 MiB | 10.24 MiB/s, done.
Resolving deltas: 100% (2789/2789), done.

In [ ]:
import pandas as pd

import os

import json

In [ ]:
path_1 ="/content/pulse/data/aggregated/transaction/country/india/state/"

Agg_tran_state_list = os.listdir(path_1)

Agg_tra = {'State': [], 'Year': [], 'Quarter': [], 'Transaction_type': [], 'Transaction_count': [], 'Transaction_amount': []}

for i in Agg_tran_state_list:
    p_i = path_1 + i + "/"
    Agg_yr = os.listdir(p_i)

    for j in Agg_yr:
        p_j = p_i + j + "/"
        Agg_yr_list = os.listdir(p_j)

        for k in Agg_yr_list:
            p_k = p_j + k
            Data = open(p_k, 'r')
            A = json.load(Data)

            for l in A['data']['transactionData']:
                Name = l['name']
                count = l['paymentInstruments'][0]['count']
                amount = l['paymentInstruments'][0]['amount']
                Agg_tra['State'].append(i)
                Agg_tra['Year'].append(j)
                Agg_tra['Quarter'].append(int(k.strip('.json')))
                Agg_tra['Transaction_type'].append(Name)
                Agg_tra['Transaction_count'].append(count)
                Agg_tra['Transaction_amount'].append(amount)

In [ ]:
df_aggregated_transaction = pd.DataFrame(Agg_tra)

In [ ]:
df_aggregated_transaction.to_csv("aggregated_transaction.csv", index=False)

In [ ]:
PATH = "/content/pulse/data/aggregated/user/country/india/state"
Agg_user_state_list = os.listdir(PATH)

Agg_user = {'State': [], 'Year': [], 'Quarter': [], 'Brands': [], 'User_Count': [], 'User_Percentage': []}

for i in Agg_user_state_list:
  p_i = PATH+'/'+i+'/'
  Agg_yr = os.listdir(p_i)

  for j in Agg_yr:
      p_j = p_i + j + "/"
      Agg_yr_list = os.listdir(p_j)

      for k in Agg_yr_list:
          p_k = p_j + k
          Data = open(p_k, 'r')
          B = json.load(Data)

          try:
              for l in B["data"]["usersByDevice"]:
                  brand_name = l["brand"]
                  count_ = l["count"]
                  ALL_percentage = l["percentage"]
                  Agg_user["State"].append(i)
                  Agg_user["Year"].append(j)
                  Agg_user["Quarter"].append(int(k.strip('.json')))
                  Agg_user["Brands"].append(brand_name)
                  Agg_user["User_Count"].append(count_)
                  Agg_user["User_Percentage"].append(ALL_percentage*100)
          except:
              pass

In [ ]:
df_aggregated_user = pd.DataFrame(Agg_user)

In [ ]:
df_aggregated_user

In [ ]:
df_aggregated_user.to_csv("aggregated_user.csv", index=False)

**map**

In [ ]:
path = '/content/pulse/data/map/transaction/hover/country/india/state'

map_tra_state_list = os.listdir(path)

map_tra = {'State': [], 'Year': [], 'Quarter': [], 'District': [], 'Transaction_Count': [], 'Transaction_Amount': []}

for i in map_tra_state_list:
    p_i = path+'/'+i+'/'
    Agg_yr = os.listdir(p_i)

    for j in Agg_yr:
        p_j = p_i + j + "/"
        Agg_yr_list = os.listdir(p_j)

        for k in Agg_yr_list:
            p_k = p_j + k
            Data = open(p_k, 'r')
            C = json.load(Data)

            for l in C["data"]["hoverDataList"]:
                District = l["name"]
                count = l["metric"][0]["count"]
                amount = l["metric"][0]["amount"]
                map_tra['State'].append(i)
                map_tra['Year'].append(j)
                map_tra['Quarter'].append(int(k.strip('.json')))
                map_tra["District"].append(District)
                map_tra["Transaction_Count"].append(count)
                map_tra["Transaction_Amount"].append(amount)

In [ ]:
df_map_transaction = pd.DataFrame(map_tra)

In [ ]:
df_map_transaction

In [ ]:
df_map_transaction.to_csv("map_transaction.csv", index=False)

In [ ]:
path = '/content/pulse/data/map/user/hover/country/india/state'

map_user_state_list = os.listdir(path)

map_user = {"State": [], "Year": [], "Quarter": [], "District": [], "Registered_User": []}

for i in map_user_state_list:
    p_i = path+'/'+ i + "/"
    Agg_yr = os.listdir(p_i)

    for j in Agg_yr:
        p_j = p_i + j + "/"
        Agg_yr_list = os.listdir(p_j)

        for k in Agg_yr_list:
            p_k = p_j + k
            Data = open(p_k, 'r')
            D = json.load(Data)

            for l in D["data"]["hoverData"].items():
                district = l[0]
                registereduser = l[1]["registeredUsers"]
                map_user['State'].append(i)
                map_user['Year'].append(j)
                map_user['Quarter'].append(int(k.strip('.json')))
                map_user["District"].append(district)
                map_user["Registered_User"].append(registereduser)

In [ ]:
df_map_user = pd.DataFrame(map_user)

In [ ]:
df_map_user

In [ ]:
df_map_user.to_csv("map_user.csv", index=False)

Top

In [ ]:
path = '/content/pulse/data/top/transaction/country/india/state'
top_tra_state_list = os.listdir(path)

top_tra_state_list = os.listdir(path)

top_tra = {'State': [], 'Year': [], 'Quarter': [], 'District_Pincode': [], 'Transaction_count': [], 'Transaction_amount': []}

for i in top_tra_state_list:
    p_i = path+"/" + i + "/"
    Agg_yr = os.listdir(p_i)

    for j in Agg_yr:
        p_j = p_i + j + "/"
        Agg_yr_list = os.listdir(p_j)

        for k in Agg_yr_list:
            p_k = p_j + k
            Data = open(p_k, 'r')
            E = json.load(Data)

            for l in E['data']['pincodes']:
                Name = l['entityName']
                count = l['metric']['count']
                amount = l['metric']['amount']
                top_tra['State'].append(i)
                top_tra['Year'].append(j)
                top_tra['Quarter'].append(int(k.strip('.json')))
                top_tra['District_Pincode'].append(Name)
                top_tra['Transaction_count'].append(count)
                top_tra['Transaction_amount'].append(amount)

In [ ]:
df_top_transaction = pd.DataFrame(top_tra)

In [ ]:
df_top_transaction

,State,Year,Quarter,District_Pincode,Transaction_count,Transaction_amount
0,ladakh,2023,2,194101,736089,1.826645e+09
1,ladakh,2023,2,194104,613774,1.340108e+09
2,ladakh,2023,2,194201,383971,1.032046e+09
3,ladakh,2023,2,194401,201619,6.032120e+08
4,ladakh,2023,2,194103,193547,3.464811e+08
...,...,...,...,...,...,...
7848,bihar,2020,4,842002,792841,1.898126e+09
7849,bihar,2020,4,823001,720110,1.504142e+09
7850,bihar,2020,4,812002,699980,1.975708e+09
7851,bihar,2020,4,854301,664144,1.546080e+09
7852,bihar,2020,4,846004,649173,1.515856e+09

In [ ]:
df_top_transaction.to_csv("top_transaction.csv", index=False)

In [ ]:
path = '/content/pulse/data/top/user/country/india/state'
top_user_state_list = os.listdir(path)

top_user = {'State': [], 'Year': [], 'Quarter': [], 'District_Pincode': [], 'Registered_User': []}

for i in top_user_state_list:
    p_i = path+ "/" + i + "/"
    Agg_yr = os.listdir(p_i)

    for j in Agg_yr:
        p_j = p_i + j + "/"
        Agg_yr_list = os.listdir(p_j)

        for k in Agg_yr_list:
            p_k = p_j + k
            Data = open(p_k, 'r')
            F = json.load(Data)

            for l in F['data']['pincodes']:
                Name = l['name']
                registeredUser = l['registeredUsers']
                top_user['State'].append(i)
                top_user['Year'].append(j)
                top_user['Quarter'].append(int(k.strip('.json')))
                top_user['District_Pincode'].append(Name)
                top_user['Registered_User'].append(registeredUser)

In [ ]:
df_top_user = pd.DataFrame(top_user)

In [ ]:
df_top_user

In [ ]:
df_top_user.to_csv("top_user.csv", index=False)